.slider__item{
    width: 100%;
    height: 260px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}
.thumbnailContainer{
    display: flex;
    justify-content: space-between;
    
}
.thumbnailWrapper {
    padding: 5px;
    cursor: pointer;
}
.second_slider_container{
    width: 85%;
}
.thumbnailImage {
    width: 100px;
    height: auto;
    border-radius: 3px;
}
.prevArrow,
.nextArrow {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
@media(max-width:1200px){
    .second_slider_container{
        display: none;
    }
}