.wrapper{
  padding: 2%;
  background-color: #FAFAFA;
  min-height: 100vh;
  height: auto;
}

.main_container{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 600;
}

.up{
  margin: 2%;
}

.slider{
  max-width: 50%;
}

.up{
  display: flex;
  gap:20px;
}

.info_part{
  margin-top: 1%;
  margin-left: 1%;
}

.title{
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Inter, sans-serif;
  margin-bottom: 4%;
}

.n_bids{
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #29ADB2;
  margin-bottom: 2%;
}

.data{
  font-size: 20px;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #0766AD;
}

.max_bid{
  font-size: 20px;
  margin-bottom: 4%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}

.lot_status{
  font-size: 30px;
  margin-bottom: 4%;
  min-width: 100%;
  display: flex;
  align-items: center;
  color: #000000;
}

.to_bid{
  width: 110%;
  justify-content: space-around;
  gap: 8%;
  display: flex;
}

.info_part p{
  margin-left: 5%;
}

.intro{
  font-size: 24px;
  width: 98%;
  background-color: #F3F3F3;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.description{
  padding: 1%;
  color: #383838;
  font-family: Inter;
  font-size: 16px;
  line-height: normal;
}

.statistic{
  margin: 2%;
}


@media (max-aspect-ratio: 3/7), (max-width: 600) {
  .info_part{
    display: none;
  }
}