.filterContainer {
    padding: 20px;
    background-color: #ffffff;
}

.filterTitle {
    font-size: 20px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    background-color: #F3F3F3;
    align-items: center;
}

.addLotButton {
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    font-weight: bold;
    border: 2px solid #00bcd4;
    border-radius: 5px;
    background-color: transparent;
    color: #00bcd4;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.addLotButton:hover {
    background-color: #00bcd4;
    color: #ffffff;
}

.filters {
    display: flex;
    gap: 25px;
    margin-top: 15px;
    justify-content: center;
    align-items: center; 
}

.filterField {
    display: flex;
    flex-direction: column;
}

.filterField label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filterInput {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 170px;
}

.searchButton {
    color: #0766AD;
    font-size: 15px;
    margin-top: 22px;
    height: 40px;
    padding: 10px 15px;
    background-color: rgba(7, 102, 173, 0.17);
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.searchButton:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.clearButton { 
    margin-top: 22px;
    height: 40px;
    padding: 1px 15px;
    background-color: rgb(255, 58, 32, 0.17);
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #FF3A20;
    cursor: pointer;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}
