.wallpaper {
    background-color: #FAFAFA;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 50%;
    background-color: #fff;
    text-align: center;
    border: 2px solid #D9D9D9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 2%;
  }
  
  .intro {
    margin-bottom: 2%;
    background-color: #F3F3F3;
    padding: 2%;
  }
  
  .input {
    margin-bottom: 2%;
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input:focus {
    border-color: #7c7676;
  }
  
  .actions {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
  }
  
  .submitButton {
    background-color: rgb(197, 232, 152, 0.3);
    border: 2px solid #29ADB2;
    color: #29ADB2;
    padding: 8px 38px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clearButton {
    background-color: rgb(244, 67, 54, 0.3);
    border: 2px solid #f44336;
    color: #f44336;
    padding: 8px 38px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: rgb(197, 232, 152, 0.5);
    border-color: #29ADB2;
  }
  
  .clearButton:hover {
    background-color: rgb(244, 67, 54, 0.5);
    border-color: #f44336;
  }
  