.postLotContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input:focus {
    border-color: #1976d2;
    outline: none;
  }
  
  .submitBtn {
    margin: 0 auto;
    width: 50%;
    background-color: rgb(197, 232, 152, 0.3);
    border: 2px solid #29ADB2;
    color: #29ADB2;
    padding: 8px 38px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .submitBtn:hover {
    background-color: rgb(197, 232, 152, 0.5);
    border-color: #29ADB2;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  