.wrapper{
    display: flex;
    flex-direction: column;
}
.profile{
    &__info{
        display: flex;
        &__photo{
            width: 200px;
            height: 200px;
            background-size: cover;
            background-position: center;
            border-radius: 50%;
        }
    }
    
}