.successContainer {
    max-width: 600px;
    margin-top: 100px;
    margin-left: 450px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .backBtn {
    padding: 10px 15px;
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .backBtn:hover {
    background-color: #155a9b;
  }
  
