.navbar-container{
  background-color: #F3F3F3;
  height: 100%;
}

.navbar {
  display: flex;
  background-color: #F3F3F3;
  padding: 50% 15%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  position: fixed;
}

.navbar ul li {
  margin-bottom: 15%;
  background-color: #F3F3F3;
}

.navbar ul li a {
  background-color: #F3F3F3;
  font-size: 16px;
  text-decoration: none;
  color: #0766AD;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px; 
  border: 2px solid transparent; 
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.navbar ul li a .fas {
  margin-right: 10px;
}

.navbar ul li a:hover {
  background-color: #acd1ed; 
  border: 2px solid #0766AD;
  color: #0766AD;
}


@media (max-aspect-ratio: 1/1), (max-width: 600px) {
  .navbar ul li a {
    justify-content: center; 
    padding: 10px;
    font-size: 200%;
  }
  .navbar ul li a span {
    display: none;
  }
}


@media (max-aspect-ratio: 1/5), (max-width: 300) {
  .navbar ul li a {
    display: none;
  }
  .navbar ul li a span {
    display: none;
  }
}

@media (max-aspect-ratio: 1/10), (max-width: 250px) {
  .navbar{
      display: none;
  }
}
