.navbar-container{
  background-color: #F3F3F3;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

/*Top navbar*/
.top-navbar {
  height: 50px;
  top: 0;
  position: fixed;
  background-color: #FFFFFF;
  width: 1260px;
  margin-left: 240px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 30px;
  padding: 5px 15px;
  width: 100%;
  height: 30px;
  max-width: 500px;
  margin-left: 50px;
}

.search-container i {
  margin-right: 10px;
  color: #707070;
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 35px;
  font-size: 16px;
  color: #333;
}

.search-input::placeholder {
  color: #707070;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.notif-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  color: #707070;
  position: relative;
}

.notif-button i {
  font-size: 20px;
  margin-right: 7px;
}

.notif-button .notif-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.navbar-auth-links {
  display: flex;
  gap: 15px;
  margin-right: 60px;
}

.navbar-auth-links a,
.user-dropdown button,
.toProfile {
  background-color: #F3F3F3;
  color: #0766AD;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-size: 14px;
  cursor: pointer;
}

.navbar-auth-links a:hover,
.user-dropdown button:hover,
.toProfile:hover {
  background-color: #acd1ed; 
  border: 2px solid #0766AD;
  color: #0766AD;
}

.user-dropdown {
  margin-right: 50px;
}


.user-dropdown link {
  width: 100%;
  text-align: left;
}

.user-menu {
  margin-right: 60px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-menu img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.user-menu i {
  font-size: 16px;
  color: #707070;
}


.user-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  display: none;
}

.user-dropdown.show {
  display: block;
}

.user-dropdown li {
  padding: 10px;
}

.user-dropdown li:hover {
  background-color: #f1f1f1;
}

/*Left navbar*/
.left-navbar {
  top: 0;
  position: fixed;
  display: flex;
  width: 200px;
  background-color: #F3F3F3;
  padding: 40px 20px;
  height: 100%;
}

.left-navbar ul {
  margin-top: 100px;
  list-style: none;
  padding: 0;
}

.left-navbar ul li {
  margin-bottom: 30px;
  background-color: #F3F3F3;
}

.left-navbar ul li a {
  background-color: #F3F3F3;
  text-decoration: none;
  color: #0766AD;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
}

.left-navbar ul li a .fas {
  margin-right: 10px;
}

.left-navbar ul li a:hover {
  background-color: #acd1ed; 
  border: 2px solid #0766AD;
  color: #0766AD;
}
