.navbar-container{
  background-color: #F3F3F3;

}
.left-navbar {
  top: 0px;
  position: fixed;
  display: flex;
  width: 200px;
  background-color: #F3F3F3;
  padding: 40px 20px;
  height: 100%;
}


.left-navbar ul {
  background-color: #F3F3F3;
  list-style: none;
  padding: 0;
}

.left-navbar ul li {
  margin: 90px 0;
  background-color: #F3F3F3;
}

.left-navbar ul li a {
  background-color: #F3F3F3;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.left-navbar ul li a .fas {
  margin-right: 10px;
}

.top-navbar {
  height: 50px;
  top: 0;
  position: fixed;
  background-color: #FFFFFF;
  width: 1260px;
  margin-left: 240px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  width: 466px;
  margin-left: 20px;
  background-color: #FFFFFF;
}

.search-input {
  width: 466px;
  height: 40px;
  flex-shrink: 0;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.notif-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.notif-menu {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  list-style: none;
  padding: 10px;
}

.auth a,
.auth .exiting {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.auth .exiting {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}
