.input{
    width: 60%;
    border:none;
    padding: 13px;
    border-radius: 23px;
    font-size: 12px;
    font-weight: 600;
    background-color: #E4E4E4;
    color: #949494;
}
input:focus{
    outline: none;
    color:black;
}
input[type=number] { /*mozilla*/
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {/*chrome*/ 
      -webkit-appearance: none; 
      margin: 0; 
}