*{
    margin: 0;
    font-family: Inter, sans-serif;
}

.full_container{
    display: flex;
}

.left_part{
    width: 17%;
    float: left;
}

.right_part{
    width: 83%;
    height: 100%;
    float: right;
}
