.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.slider{
    max-width: 50%;
}
.up{
    display: flex;
    gap:20px;
}
.title{
    font-size: 24px;
    font-family: Inter, sans-serif;
}
.description{
    font-size: 16px;
    color: #383838;
}
.down{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.n_bids{
    width: fit-content;
    display: flex;
    align-items: center;
    color: #29ADB2;
}
.start_price{
    width: fit-content;
    display: flex;
    align-items: center;
}